body {
  font-family: "Dosis", Helvetica, Arial, sans-serif; 
  background: url(fondo.jpg) no-repeat fixed center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 /*------------------------------------------Boton Test------------------------------------*/
.switch3 {
  position: relative;
  display: inline-block;
  width: 135px;
  height: 77px;
}
.switch3 input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider.round3 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider.round3:before {
  position: absolute;
  content: "";
  height: 59px;
  width: 59px;
  left: 9px;
  bottom: 9px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider.round3 {
  background-color: #EEF023;
}
input:focus + .slider.round3 {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider.round3:before {
  -webkit-transform: translateX(59px);
  -ms-transform: translateX(59px);
  transform: translateX(59px);
}
/* Rounded sliders */
.slider.round3 {
  border-radius: 77px;
}
.slider.round3:before {
  border-radius: 50%;
}


/*------------------------------------------Textos----------------------------------------*/
#txtcheck{
font-size:400%; 
color:black;
font-family: Digital-7 Mono;
}
#txtmedio{
font-size:180%;
color:red;
font-family: Digital-7 Mono;
}
